name: test-clang-format

on: [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DoozyX/clang-format-lint-action@v0.18
        with:
          source: '.'
          exclude: './external'
          extensions: 'h,cpp,cc'
          clangFormatVersion: 18
          style: file
